<!-- Header -->
<app-menu-header></app-menu-header>
<!-- /Header -->

<!-- Sidebar -->
<app-menu-sidebar></app-menu-sidebar>
<!-- /Sidebar -->



<div class="page-wrapper">
	<div class="content">

		<div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-2">
			<div class="mb-3">
				<h1 class="mb-1">Welcome, {{USERNAME}} - {{WH_ID}}</h1>
				<p class="fw-medium">Success is the sum of small efforts, <span
						class="text-primary fw-bold">Repeated</span> day in and day out. </p>
			</div>
			<div class="input-icon-start position-relative mb-3">
				<span class="input-icon-addon fs-16 text-gray-9">
					<i class="ti ti-calendar"></i>
				</span>
				<input type="text" class="form-control date-range bookingrange" placeholder="Search Product">
			</div>
		</div>

		<div class="row" *ngIf="WH_ID=='all'">
			<div class="col-12">
				<h5 class="text-decoration-underline mb-3 pb-1">MAIN WAREHOUSE DETAILS</h5>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-primary sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-primary">
							<i class="ti ti-file-text fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Total Stock Value</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> ₹ {{MAINWAREHOUSE}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-secondary sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-secondary">
							<i class="ti ti-repeat fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Year Sales</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> ₹ {{TOT_TRASFER}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-teal sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-teal">
							<i class="ti ti-gift fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Month Sales</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> ₹ {{LAST_MONTH}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-info sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-info">
							<i class="ti ti-brand-pocket fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Week Sales</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> ₹ {{LAST_WEEK}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div></div>
	    <div class="row" *ngIf="WH_ID=='all'">

			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-primary sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-primary">
							<i class="ti ti-file-text fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Total Stock Qty</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white">NO: {{MAINWAREHOUSEQTY}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-secondary sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-secondary">
							<i class="ti ti-repeat fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Year Sales Qty</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> NO: {{TOT_TRASFERQTY}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-teal sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-teal">
							<i class="ti ti-gift fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Month Sales Qty</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> NO: {{LAST_MONTHQTY}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-info sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-info">
							<i class="ti ti-brand-pocket fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Week Sales Qty</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> NO: {{LAST_WEEKQTY}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" *ngIf="WH_ID=='all'">
		

			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<span class="avatar avatar-md bg-dark mb-3">
								<i class="ti ti-building fs-16"></i>
							</span>
							<span class="badge bg-success fw-normal mb-3">
								QTY: {{YESTERDAY_SALESQTY}}
							</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">{{YESTERDAY_SALES}}</h2>
								<p class="fs-13">Yesterday Sales</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /Total Companies -->

			<!-- Active Companies -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<span class="avatar avatar-md bg-dark mb-3">
								<i class="ti ti-carousel-vertical fs-16"></i>
							</span>
							<span class="badge bg-danger fw-normal mb-3">
								QTY: {{LAST_IIIDAYSQTY}}
							</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">{{LAST_IIIDAYS}}</h2>
								<p class="fs-13">Last 3 Days</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /Active Companies -->

			<!-- Total Subscribers -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<span class="avatar avatar-md bg-dark mb-3">
								<i class="ti ti-chalkboard-off fs-16"></i>
							</span>
							<span class="badge bg-success fw-normal mb-3">
								QTY: {{LAST_XVDAYSQTY}}
							</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">{{LAST_XVDAYS}}</h2>
								<p class="fs-13">Last 10 Days</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /Total Subscribers -->

			<!-- Total Earnings -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<span class="avatar avatar-md bg-dark mb-3">
								<i class="ti ti-businessplan fs-16"></i>
							</span>
							<span class="badge bg-danger fw-normal mb-3">
								QTY: {{LAST_XXXXVDAYSQTY}}
							</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">{{LAST_XXXXVDAYS}}</h2>
								<p class="fs-13">Last 45 Days</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /Total Earnings -->

		</div>

<hr>

		<div class="row" *ngIf="WH_ID=='all'">
			<div class="col-12">
				<h5 class="text-decoration-underline mb-3 pb-1">SUB WAREHOUSE DETAILS</h5>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-primary sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-primary">
							<i class="ti ti-file-text fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Total Stock Value</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> ₹ {{SUBWAREHOUSE}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-secondary sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-secondary">
							<i class="ti ti-repeat fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Year Sales</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> ₹ {{WH_TRASFER}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-teal sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-teal">
							<i class="ti ti-gift fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Month Sales</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> ₹ {{WH_MONTH}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-info sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-info">
							<i class="ti ti-brand-pocket fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Week Sales</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> ₹ {{WH_WEEK}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


    <div class="row" *ngIf="WH_ID=='all'">

			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-primary sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-primary">
							<i class="ti ti-file-text fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Total Stock Qty</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white">NO: {{SUBWAREHOUSEQTY}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-secondary sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-secondary">
							<i class="ti ti-repeat fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Year Sales Qty</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> NO: {{WH_TRASFERQTY}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-teal sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-teal">
							<i class="ti ti-gift fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Month Sales Qty</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> NO: {{WH_MONTHQTY}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 col-12 d-flex">
				<div class="card bg-info sale-widget flex-fill">
					<div class="card-body d-flex align-items-center">
						<span class="sale-icon bg-white text-info">
							<i class="ti ti-brand-pocket fs-24"></i>
						</span>
						<div class="ms-2">
							<p class="text-white mb-1">Current Week Sales Qty</p>
							<div class="d-inline-flex align-items-center flex-wrap gap-2">
								<h2 class="text-white"> NO: {{WH_WEEKQTY}}</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	<div class="row" *ngIf="WH_ID=='all'">
		

			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<span class="avatar avatar-md bg-dark mb-3">
								<i class="ti ti-building fs-16"></i>
							</span>
							<span class="badge bg-success fw-normal mb-3">
								QTY: {{WHYESTERDAY_SALESQTY}}
							</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">{{WHYESTERDAY_SALES}}</h2>
								<p class="fs-13">Yesterday Sales</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /Total Companies -->

			<!-- Active Companies -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<span class="avatar avatar-md bg-dark mb-3">
								<i class="ti ti-carousel-vertical fs-16"></i>
							</span>
							<span class="badge bg-danger fw-normal mb-3">
								QTY: {{WHLAST_IIIDAYSQTY}}
							</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">{{WHLAST_IIIDAYS}}</h2>
								<p class="fs-13">Last 3 Days</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /Active Companies -->

			<!-- Total Subscribers -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<span class="avatar avatar-md bg-dark mb-3">
								<i class="ti ti-chalkboard-off fs-16"></i>
							</span>
							<span class="badge bg-success fw-normal mb-3">
								QTY: {{WHLAST_XVDAYSQTY}}
							</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">{{WHLAST_XVDAYS}}</h2>
								<p class="fs-13">Last 10 Days</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /Total Subscribers -->

			<!-- Total Earnings -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<span class="avatar avatar-md bg-dark mb-3">
								<i class="ti ti-businessplan fs-16"></i>
							</span>
							<span class="badge bg-danger fw-normal mb-3">
								QTY: {{WHLAST_XXXXVDAYSQTY}}
							</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">{{WHLAST_XXXXVDAYS}}</h2>
								<p class="fs-13">Last 45 Days</p>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /Total Earnings -->

		</div>


	<div class="row">

		


<!-- Recent Transactions -->
			<div class="col-xl-6 col-sm-12 col-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-orange fs-16 me-2"><i class="ti ti-flag"></i></span>
							<h5 class="card-title mb-0">Last 7 Days (Sub Ware House Sales Summery)</h5>
						</div>
					
					</div>
					<div class="card-body p-0">
					
						<div class="tab-content">
							<div class="tab-pane show active" id="sale">
								<div class="table-responsive">
									<table class="table table-borderless custom-table">
										<thead class="thead-light">
											<tr>
												<th>Ware House</th>
												<th>No. Customer</th>
												<th>Sales Value	</th>
											    <th>Sales Tax</th>
												<th>Total</th>
											</tr>
										</thead>
										<tbody>
											  @for (wh of SalesList7; track SalesList7){
                                            <tr>

                                                <td>{{wh.LOCATION}}</td>
                                                <td>{{wh.TOTAL_COUNT}}</td>
                                                <td>{{wh.SAL_VALUE}}</td>
                                                <td>{{wh.SAL_TAX}}</td>
                                                <td>{{wh.SAL_AMOUNT}}</td>
                                            </tr>}
										</tbody>
									</table>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
			<!-- /Recent Transactions -->

	<div class="col-xl-6 col-sm-12 col-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-orange fs-16 me-2"><i class="ti ti-flag"></i></span>
							<h5 class="card-title mb-0">Last 7 Days (Sub Ware House Sales Summery)</h5>
						</div>
					
					</div>
					<div class="card-body p-0">
					
						<div class="tab-content">
							<div class="tab-pane show active" id="sale">
								<div class="table-responsive">
									<table class="table table-borderless custom-table">
										<thead class="thead-light">
											<tr>
												<th>Ware House</th>
												<th>No. Customer</th>
												<th>Sales Value	</th>
											    <th>Sales Tax</th>
												<th>Total</th>
											</tr>
										</thead>
										<tbody>
											  @for (wh of SalesList30; track SalesList7){
                                            <tr>

                                                <td>{{wh.LOCATION}}</td>
                                                <td>{{wh.TOTAL_COUNT}}</td>
                                                <td>{{wh.SAL_VALUE}}</td>
                                                <td>{{wh.SAL_TAX}}</td>
                                                <td>{{wh.SAL_AMOUNT}}</td>
                                            </tr>}
										</tbody>
									</table>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>


			<!-- Top Selling Products -->
			<!-- <div class="col-xxl-4 col-xl-5 d-flex">
				<div class="card flex-fill">
					<div class="card-header">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-info fs-16 me-2"><i class="ti ti-info-circle"></i></span>
							<h5 class="card-title mb-0">Overall Information</h5>
						</div>
					</div>
					<div class="card-body">
						<div class="row g-3">
							<div class="col-md-4">
								<div class="info-item border bg-light p-3 text-center">
									<div class="mb-2 text-info fs-24">
										<i class="ti ti-user-check"></i>
									</div>
									<p class="mb-1">Suppliers</p>
									<h5>6987</h5>
								</div>
							</div>
							<div class="col-md-4">
								<div class="info-item border bg-light p-3 text-center">
									<div class="mb-2 text-orange fs-24">
										<i class="ti ti-users"></i>
									</div>
									<p class="mb-1">Customer</p>
									<h5>4896</h5>
								</div>
							</div>
							<div class="col-md-4">
								<div class="info-item border bg-light p-3 text-center">
									<div class="mb-2 text-teal fs-24">
										<i class="ti ti-shopping-cart"></i>
									</div>
									<p class="mb-1">Orders</p>
									<h5>487</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer pb-sm-0">
						<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
							<h5>Customers Overview</h5>
							<div class="dropdown dropdown-wraper">
								<a href="javascript:void(0);" class="dropdown-toggle btn btn-sm btn-white"
									data-bs-toggle="dropdown" aria-expanded="false">
									<i class="ti ti-calendar me-1"></i>Today
								</a>
								<ul class="dropdown-menu p-3">
									<li>
										<a href="javascript:void(0);" class="dropdown-item">Today</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item">Weekly</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item">Monthly</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-sm-5">
								<div id="customer-chart"></div>
							</div>
							<div class="col-sm-7">
								<div class="row gx-0">
									<div class="col-sm-6">
										<div class="text-center border-end">
											<h2 class="mb-1">5.5K</h2>
											<p class="text-orange mb-2">First Time</p>
											<span
												class="badge badge-success badge-xs d-inline-flex align-items-center"><i
													class="ti ti-arrow-up-left me-1"></i>25%</span>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="text-center">
											<h2 class="mb-1">3.5K</h2>
											<p class="text-teal mb-2">Return</p>
											<span
												class="badge badge-success badge-xs d-inline-flex align-items-center"><i
													class="ti ti-arrow-up-left me-1"></i>21%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>


		<div class="row">

			<!-- Top Selling Products -->
			<div class="col-xxl-4 col-md-6 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex justify-content-between align-items-center flex-wrap gap-3">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-pink fs-16 me-2"><i class="ti ti-box"></i></span>
							<h5 class="card-title mb-0">Top Selling Products</h5>
						</div>
						<div class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle btn btn-sm btn-white"
								data-bs-toggle="dropdown" aria-expanded="false">
								<i class="ti ti-calendar me-1"></i>Today
							</a>
							<ul class="dropdown-menu p-3">
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Today</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Weekly</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Monthly</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body sell-product">
						<div class="d-flex align-items-center justify-content-between border-bottom">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-01.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Charger Cable - Lighting</a>
									</h6>
									<div class="d-flex align-items-center item-list">
										<p>$187</p>
										<p>247+ Sales</p>
									</div>
								</div>
							</div>
							<span class="badge bg-outline-success badge-xs d-inline-flex align-items-center"><i
									class="ti ti-arrow-up-left me-1"></i>25%</span>
						</div>
						<div class="d-flex align-items-center justify-content-between border-bottom">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-16.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Yves Saint Eau De Parfum</a>
									</h6>
									<div class="d-flex align-items-center item-list">
										<p>$145</p>
										<p>289+ Sales</p>
									</div>
								</div>
							</div>
							<span class="badge bg-outline-success badge-xs d-inline-flex align-items-center"><i
									class="ti ti-arrow-up-left me-1"></i>25%</span>
						</div>
						<div class="d-flex align-items-center justify-content-between border-bottom">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-03.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Apple Airpods 2</a></h6>
									<div class="d-flex align-items-center item-list">
										<p>$458</p>
										<p>300+ Sales</p>
									</div>
								</div>
							</div>
							<span class="badge bg-outline-success badge-xs d-inline-flex align-items-center"><i
									class="ti ti-arrow-up-left me-1"></i>25%</span>
						</div>
						<div class="d-flex align-items-center justify-content-between border-bottom">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-04.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Vacuum Cleaner</a></h6>
									<div class="d-flex align-items-center item-list">
										<p>$139</p>
										<p>225+ Sales</p>
									</div>
								</div>
							</div>
							<span class="badge bg-outline-danger badge-xs d-inline-flex align-items-center"><i
									class="ti ti-arrow-down-left me-1"></i>21%</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-05.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Samsung Galaxy S21 Fe 5g</a>
									</h6>
									<div class="d-flex align-items-center item-list">
										<p>$898</p>
										<p>365+ Sales</p>
									</div>
								</div>
							</div>
							<span class="badge bg-outline-success badge-xs d-inline-flex align-items-center"><i
									class="ti ti-arrow-up-left me-1"></i>25%</span>
						</div>
					</div>
				</div>
			</div>
			<!-- /Top Selling Products -->

			<!-- Low Stock Products -->
			<div class="col-xxl-4 col-md-6 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex justify-content-between align-items-center flex-wrap gap-3">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-danger fs-16 me-2"><i
									class="ti ti-alert-triangle"></i></span>
							<h5 class="card-title mb-0">Low Stock Products</h5>
						</div>
						<a href="low-stocks.html" class="fs-13 fw-medium text-decoration-underline">View All</a>
					</div>
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between mb-4">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-06.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Dell XPS 13</a></h6>
									<p class="fs-13">ID : #665814</p>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">Instock</p>
								<h6 class="text-orange fw-medium">08</h6>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-4">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-07.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Vacuum Cleaner Robot</a></h6>
									<p class="fs-13">ID : #940004</p>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">Instock</p>
								<h6 class="text-orange fw-medium">14</h6>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-4">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-08.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">KitchenAid Stand Mixer</a>
									</h6>
									<p class="fs-13">ID : #325569</p>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">Instock</p>
								<h6 class="text-orange fw-medium">21</h6>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-4">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-09.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Levi's Trucker Jacket</a>
									</h6>
									<p class="fs-13">ID : #124588</p>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">Instock</p>
								<h6 class="text-orange fw-medium">12</h6>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-0">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-10.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Lay's Classic</a></h6>
									<p class="fs-13">ID : #365586</p>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">Instock</p>
								<h6 class="text-orange fw-medium">10</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Low Stock Products -->

			<!-- Recent Sales -->
			<div class="col-xxl-4 col-md-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex justify-content-between align-items-center flex-wrap gap-3">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-pink fs-16 me-2"><i class="ti ti-box"></i></span>
							<h5 class="card-title mb-0">Recent Sales</h5>
						</div>
						<div class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle btn btn-sm btn-white"
								data-bs-toggle="dropdown" aria-expanded="false">
								<i class="ti ti-calendar me-1"></i>Weekly
							</a>
							<ul class="dropdown-menu p-3">
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Today</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Weekly</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Monthly</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between mb-4">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-11.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Apple Watch Series 9</a></h6>
									<div class="d-flex align-items-center item-list">
										<p>Electronics</p>
										<p class="text-gray-9">$640</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">Today</p>
								<span class="badge bg-purple badge-xs d-inline-flex align-items-center"><i
										class="ti ti-circle-filled fs-5 me-1"></i>Processing</span>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-4">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-12.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Gold Bracelet</a></h6>
									<div class="d-flex align-items-center item-list">
										<p>Fashion</p>
										<p class="text-gray-9">$126</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">Today</p>
								<span class="badge badge-danger badge-xs d-inline-flex align-items-center"><i
										class="ti ti-circle-filled fs-5 me-1"></i>Cancelled</span>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-4">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-13.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Parachute Down Duvet</a></h6>
									<div class="d-flex align-items-center item-list">
										<p>Health</p>
										<p class="text-gray-9">$69</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">15 Jan 2025</p>
								<span class="badge badge-cyan badge-xs d-inline-flex align-items-center"><i
										class="ti ti-circle-filled fs-5 me-1"></i>Onhold</span>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-4">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-14.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">YETI Rambler Tumbler</a></h6>
									<div class="d-flex align-items-center item-list">
										<p>Sports</p>
										<p class="text-gray-9">$65</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">12 Jan 2025</p>
								<span class="badge bg-purple badge-xs d-inline-flex align-items-center"><i
										class="ti ti-circle-filled fs-5 me-1"></i>Processing</span>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-0">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg">
									<img src="assets/img/products/product-15.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fw-bold mb-1"><a href="javascript:void(0);">Osmo Genius Starter Kit</a>
									</h6>
									<div class="d-flex align-items-center item-list">
										<p>Lifestyles</p>
										<p class="text-gray-9">$87.56</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<p class="fs-13 mb-1">11 Jan 2025</p>
								<span class="badge badge-success badge-xs d-inline-flex align-items-center"><i
										class="ti ti-circle-filled fs-5 me-1"></i>Completed</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Recent Sales -->

		</div>

		<div class="row">

			<!-- Sales Statics -->
			<div class="col-xl-6 col-sm-12 col-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex justify-content-between align-items-center">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-danger fs-16 me-2"><i
									class="ti ti-alert-triangle"></i></span>
							<h5 class="card-title mb-0">Sales Statics</h5>
						</div>
						<div class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle btn btn-sm btn-white"
								data-bs-toggle="dropdown" aria-expanded="false">
								<i class="ti ti-calendar me-1"></i>2025
							</a>
							<ul class="dropdown-menu p-3">
								<li>
									<a href="javascript:void(0);" class="dropdown-item">2025</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">2022</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">2021</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body pb-0">
						<div class="d-flex align-items-center flex-wrap gap-2">
							<div class="border p-2 br-8">
								<h5 class="d-inline-flex align-items-center text-teal">$12,189<span
										class="badge badge-success badge-xs d-inline-flex align-items-center ms-2"><i
											class="ti ti-arrow-up-left me-1"></i>25%</span></h5>
								<p>Revenue</p>
							</div>
							<div class="border p-2 br-8">
								<h5 class="d-inline-flex align-items-center text-orange">$48,988,078<span
										class="badge badge-danger badge-xs d-inline-flex align-items-center ms-2"><i
											class="ti ti-arrow-down-right me-1"></i>25%</span></h5>
								<p>Expense</p>
							</div>
						</div>
						<div id="sales-statistics"></div>
					</div>
				</div>
			</div>
			<!-- /Sales Statics -->
	<!-- Sales & Purchase -->
			<div class="col-xxl-6 col-xl-7 col-sm-12 col-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex justify-content-between align-items-center">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-primary fs-16 me-2"><i
									class="ti ti-shopping-cart"></i></span>
							<h5 class="card-title mb-0">Sales & Purchase</h5>
						</div>
						<ul class="nav btn-group custom-btn-group">
							<a class="btn btn-outline-light" href="javascript:void(0);">1D</a>
							<a class="btn btn-outline-light" href="javascript:void(0);">1W</a>
							<a class="btn btn-outline-light" href="javascript:void(0);">1M</a>
							<a class="btn btn-outline-light" href="javascript:void(0);">3M</a>
							<a class="btn btn-outline-light" href="javascript:void(0);">6M</a>
							<a class="btn btn-outline-light active" href="javascript:void(0);">1Y</a>
						</ul>
					</div>
					<div class="card-body pb-0">
						<div>
							<div class="d-flex align-items-center gap-2">
								<div class="border p-2 br-8">
									<p class="d-inline-flex align-items-center mb-1"><i
											class="ti ti-circle-filled fs-8 text-primary-300 me-1"></i>Total Purchase
									</p>
									<h4>3K</h4>
								</div>
								<div class="border p-2 br-8">
									<p class="d-inline-flex align-items-center mb-1"><i
											class="ti ti-circle-filled fs-8 text-primary me-1"></i>Total Sales</p>
									<h4>1K</h4>
								</div>
							</div>
							<div id="sales-daychart"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Sales & Purchase -->
			

		</div>

		<div class="row">

			<!-- Top Customers -->
			<div class="col-xxl-4 col-md-6 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex justify-content-between align-items-center flex-wrap gap-3">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-orange fs-16 me-2"><i class="ti ti-users"></i></span>
							<h5 class="card-title mb-0">Top Customers</h5>
						</div>
						<a href="customers.html" class="fs-13 fw-medium text-decoration-underline">View All</a>
					</div>
					<div class="card-body">
						<div
							class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3 flex-wrap gap-2">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg flex-shrink-0">
									<img src="assets/img/customer/customer11.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fs-14 fw-bold mb-1"><a href="javascript:void(0);">Carlos Curran</a></h6>
									<div class="d-flex align-items-center item-list">
										<p class="d-inline-flex align-items-center"><i
												class="ti ti-map-pin me-1"></i>USA</p>
										<p>24 Orders</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<h5>$8,9645</h5>
							</div>
						</div>
						<div
							class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3 flex-wrap gap-2">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg flex-shrink-0">
									<img src="assets/img/customer/customer12.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fs-14 fw-bold mb-1"><a href="javascript:void(0);">Stan Gaunter</a></h6>
									<div class="d-flex align-items-center item-list">
										<p class="d-inline-flex align-items-center"><i
												class="ti ti-map-pin me-1"></i>UAE</p>
										<p>22 Orders</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<h5>$16,985</h5>
							</div>
						</div>
						<div
							class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3 flex-wrap gap-2">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg flex-shrink-0">
									<img src="assets/img/customer/customer13.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fs-14 fw-bold mb-1"><a href="javascript:void(0);">Richard Wilson</a></h6>
									<div class="d-flex align-items-center item-list">
										<p class="d-inline-flex align-items-center"><i
												class="ti ti-map-pin me-1"></i>Germany</p>
										<p>14 Orders</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<h5>$5,366</h5>
							</div>
						</div>
						<div
							class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3 flex-wrap gap-2">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg flex-shrink-0">
									<img src="assets/img/customer/customer14.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fs-14 fw-bold mb-1"><a href="javascript:void(0);">Mary Bronson</a></h6>
									<div class="d-flex align-items-center item-list">
										<p class="d-inline-flex align-items-center"><i
												class="ti ti-map-pin me-1"></i>Belgium</p>
										<p>08 Orders</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<h5>$4,569</h5>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
							<div class="d-flex align-items-center">
								<a href="javascript:void(0);" class="avatar avatar-lg flex-shrink-0">
									<img src="assets/img/customer/customer15.jpg" alt="img">
								</a>
								<div class="ms-2">
									<h6 class="fs-14 fw-bold mb-1"><a href="javascript:void(0);">Annie Tremblay</a></h6>
									<div class="d-flex align-items-center item-list">
										<p class="d-inline-flex align-items-center"><i
												class="ti ti-map-pin me-1"></i>Greenland</p>
										<p>14 Orders</p>
									</div>
								</div>
							</div>
							<div class="text-end">
								<h5>$3,5698</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Top Customers -->

			<!-- Top Categories -->
			<div class="col-xxl-4 col-md-6 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex justify-content-between align-items-center flex-wrap gap-3">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-orange fs-16 me-2"><i class="ti ti-users"></i></span>
							<h5 class="card-title mb-0">Top Categories</h5>
						</div>
						<div class="dropdown">
							<a href="javascript:void(0);"
								class="dropdown-toggle btn btn-sm btn-white d-flex align-items-center"
								data-bs-toggle="dropdown" aria-expanded="false">
								<i class="ti ti-calendar me-1"></i>Weekly
							</a>
							<ul class="dropdown-menu p-3">
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Today</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Weekly</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Monthly</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between flex-wrap gap-4 mb-4">
							<div>
								<canvas id="top-category" height="230" width="200"></canvas>
							</div>
							<div>
								<div class="category-item category-primary">
									<p class="fs-13 mb-1">Electronics</p>
									<h2 class="d-flex align-items-center">698<span
											class="fs-13 fw-normal text-default ms-1">Sales</span></h2>
								</div>
								<div class="category-item category-orange">
									<p class="fs-13 mb-1">Sports</p>
									<h2 class="d-flex align-items-center">545<span
											class="fs-13 fw-normal text-default ms-1">Sales</span></h2>
								</div>
								<div class="category-item category-secondary">
									<p class="fs-13 mb-1">Lifestyles</p>
									<h2 class="d-flex align-items-center">456<span
											class="fs-13 fw-normal text-default ms-1">Sales</span></h2>
								</div>
							</div>
						</div>
						<h6 class="mb-2">Category Statistics</h6>
						<div class="border br-8">
							<div class="d-flex align-items-center justify-content-between border-bottom p-2">
								<p class="d-inline-flex align-items-center mb-0"><i
										class="ti ti-square-rounded-filled text-indigo fs-8 me-2"></i>Total Number Of
									Categories</p>
								<h5>698</h5>
							</div>
							<div class="d-flex align-items-center justify-content-between p-2">
								<p class="d-inline-flex align-items-center mb-0"><i
										class="ti ti-square-rounded-filled text-orange fs-8 me-2"></i>Total Number Of
									Products</p>
								<h5>7899</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Top Categories -->

			<!-- Order Statistics -->
			<div class="col-xxl-4 col-md-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header d-flex justify-content-between align-items-center flex-wrap gap-3">
						<div class="d-inline-flex align-items-center">
							<span class="title-icon bg-soft-indigo fs-16 me-2"><i class="ti ti-package"></i></span>
							<h5 class="card-title mb-0">Order Statistics</h5>
						</div>
						<div class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle btn btn-sm btn-white"
								data-bs-toggle="dropdown" aria-expanded="false">
								<i class="ti ti-calendar me-1"></i>Weekly
							</a>
							<ul class="dropdown-menu p-3">
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Today</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Weekly</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item">Monthly</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body pb-0">
						<div id="heat_chart"></div>
					</div>
				</div>
			</div>
			<!-- /Order Statistics -->

		</div>

	</div>
	<app-menu-footer></app-menu-footer>
</div>